<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <header>
        <figure><a href="https://www.amazon.com/s?k=0806541229&amp;tag=sivers-20"><img src="/images/book/NegotiateAnything.webp" alt="You Can Negotiate Anything - by Herb Cohen"></a></figure>
        <h1>You Can Negotiate Anything - by Herb Cohen</h1>
        <small>
        ISBN: 0806541229<br>
        Date read: 2023-08-02<br>
        How strongly I recommend it: <strong>10</strong>/10<br>
        <strong>(See <a href="/book">my list of 360+ books</a>, for more.)</strong>
        </small>
        <p><strong>Go to the <a href="https://www.amazon.com/s?k=0806541229&amp;tag=sivers-20">Amazon page</a></strong> for details and reviews.</p>
        </header>
        
        <p id="booksummary">Everything is negotiable. Challenge authority. You have the power in any situation. This is how to realize it and use it. A must-read classic from 1980 from a master negotiator. My notes here aren’t enough because the little book is filled with so many memorable stories — examples of great day-to-day moments of negotiation that will stick in your head for when you need them. (I especially loved the one about the power of the prisoner in solitary confinement.) So go buy and read the book. I’m giving it a 10/10 rating even though the second half of the book loses steam, because the first half is so crucial.
        </p><h2>my notes</h2>
        <p id="booknotes"></p>
        </main>
    
</body>
</html>