body {
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 30px;
    background-color: #fff;
    color: #000;
}
header a{
    color: #000;
    text-decoration: none;
    word-wrap: break-word;
}

#masthead {
    font-size: 3rem;
}

h1, h2, h3, header#masthead {
    line-height: 1em;
}

#masthead, h1, h2, h3, small {
    font-family: valkyrie_c4;
    font-weight: normal;
    font-style: normal;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}

div {

    unicode-bidi: isolate;
}
img {
    float: left;
    margin-right: 2em;
    height: auto;
}
.link:visited {
    color: #606;
}

.inline {
    display: inline-block;
}

figure img {
    float: left;
    margin-right: 2em;
}

label { 
    float: left; 
} 
  
span { 
    display: block; 
    overflow: hidden; 
    padding: 0px 4px 0px 6px; 
} 
  
input { 
    width: 70%;
} 
.inline {
    display: inline-block;
}

btn-light {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}
.align-items-center {
    align-items: center !important;
}
.d-inline-flex {
    display: inline-flex !important;
}